---
interface Props {
  icon: string;
  color: "green" | "blue" | "purple" | "red" | "gray";
}

const { icon, color } = Astro.props as Props;

const colorMap = {
  green: {
    bgClass: "bg-green-500/10",
    textClass: "text-green-400",
  },
  blue: {
    bgClass: "bg-vibrant-blue/10",
    textClass: "text-vibrant-blue",
  },
  purple: {
    bgClass: "bg-purple-500/10",
    textClass: "text-purple-400",
  },
  red: {
    bgClass: "bg-red-500/10",
    textClass: "text-red-400",
  },
  gray: {
    bgClass: "bg-gray-500/10",
    textClass: "text-gray-400",
  },
};

const colorConfig = colorMap[color];
---

<div class={`p-2 rounded-lg ${colorConfig.bgClass}`}>
  <span class={`material-symbols-outlined ${colorConfig.textClass}`} style="font-size: 22px;">
    {icon}
  </span>
</div>
